body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-bottom: 2vh;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  border: 2px black solid;
}

.pokemon-current-img {
  align-self: center;
  height: 50vh;
  width: 50vh;
}

.pokemon-name {
  border-bottom: 2px black solid;
}

.pokemon-name::first-letter {
  text-transform: capitalize;
}

#discover-button {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: all 250ms;
  cursor: pointer;
  margin: 2vh 0vh 0vh 0vh;
}


#discover-button:hover, #discover-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#discover-button:hover {
  transform: translateY(-1px);
}

#discover-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.pokemon-info {
  display: flex;
  justify-content: center;
}

.pokemon-type {
  margin: 1vh 4vh;
  padding: 1vh;
  height: fit-content;
  width: fit-content;
  background-color: rgba(144, 238, 144, 0.7);
  border-radius: 10px;
  cursor: pointer;
}

#ban-list {
  width: 22vw;
  padding: 2vh;
  height: auto;
  border: 2px black solid;
  border-left: none;
  display: flex;
  place-items: center;
  flex-direction: column;
}

.ban-list-item {
  padding: 1vh;
  background-color: rgba(239, 106, 108, 0.5);
  position: relative;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

#previously-seen {
  width: 22vw;
  padding: 2vh;
  height: 76vh;
  border: 2px black solid;
  border-right: none;
  display: flex;
  place-items: center;
  flex-direction: column;
  overflow: scroll;
}

.history-item {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  place-items: center;
  flex-direction: column;
}

.history-item-image {
  height: 15vh;
}