body {
  margin: 0;
  padding: 0;
  background-image: url('public/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}