body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url('public/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  margin-bottom: 2vh;
  border: 2px black solid;
}

.pokemon-current-img {
  align-self: center;
  height: 50vh;
  width: 100%;
}

.pokemon-name {
  border-bottom: 2px black solid;
}

.pokemon-name::first-letter {
  text-transform: capitalize;
}

#discover-button {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: all 250ms;
  cursor: pointer;
  margin: 2vh 0vh 0vh 0vh;
}


#discover-button:hover, #discover-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#discover-button:hover {
  transform: translateY(-1px);
}

#discover-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}